/*aplicacion*/
.App{
  height: 100vh;
  background-color: rgb(239, 237, 240);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield;
 }

.header-app{

  min-width: 100%;
  min-height: 50px;
  background-color: rgb(123, 46, 153);
  padding-top:10px;
  padding-bottom: 5px;
}

.tittle{

  color: rgb(243, 240, 240);
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 5vh;
  padding: 0;

}

.div-form{
  margin-top: 5px;
}

.WeatherCard{
  max-width: 90%;
  min-height: 250px;
  margin-left: 5%;
  background-color: rgb(194, 194, 194);
  box-shadow: 6px 4px 11px -1px rgba(0,0,0,0.55);
  -webkit-box-shadow: 6px 4px 11px -1px rgba(0,0,0,0.55);
  -moz-box-shadow: 6px 4px 11px -1px rgba(0,0,0,0.55);
  margin-top: 2%;
}

.img-weather img{

  width: 100%;
}

.data-weather{
  padding-top: 2%;
}